.ms-parent{
    width: 100% !important;
}
.ms-drop input[type="checkbox"]{
    margin-right: 8px;
}
.ms-drop input[type="radio"]{
    margin-right: 8px;
}

iframe{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}